---
# This file handles installing Nextcloud using the official binary release.
# This includes
# * installing dependencies using the package manager
# * getting the latest version
# * downloading the archive
# * validating the signature
# * extracting the archive to the web root
# * removing any files not from the archive (usually old files)

- name: 'Install dependencies'
  ansible.builtin.package:
    name: "{{ nextcloud_dependencies }}"
    state: present

- name: 'Get latest version of Nextcloud'
  when: "nextcloud_version is not defined"
  block:
    - name: 'Get available versions of Nextcloud'
      ansible.builtin.uri:
        url: "{{ nextcloud_base_url }}"
        return_content: true
      register: _nextcloud_releases
      check_mode: false

    - name: 'Determine latest version of Nextcloud'
      ansible.builtin.set_fact:
        nextcloud_version: "{{ _nextcloud_releases.content | ansible.builtin.regex_findall('(?<=\"nextcloud-)[0-9]+\\.[0-9]+\\.[0-9]+(?=\\.tar\\.bz2\")') | community.general.version_sort | last }}"

- name: 'Get currently installed version of Nextcloud'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - status
      - '--output=json'
  check_mode: false
  changed_when: false
  ignore_errors: true
  register: _occ_status

- name: 'Determine version number'
  ansible.builtin.set_fact:
    _current_nextcloud_version: "{{ (_occ_status.stdout | ansible.builtin.from_json)['versionstring'] }}"
  when: "_occ_status is not failed"

- name: "Download and install Nextcloud {{ nextcloud_version }}"
  when: "nextcloud_version != _current_nextcloud_version | default"
  block:

    - name: 'Create temporary directory'
      ansible.builtin.tempfile:
        state: directory
      diff: false
      register: _tmpdir
      notify: nextcloud_remove_tmpdir

    - name: 'Determine file name'
      ansible.builtin.set_fact:
        _filename: "nextcloud-{{ nextcloud_version }}.tar.bz2"

    - name: 'Download Nextcloud'
      ansible.builtin.get_url:
        url: "{{ nextcloud_base_url }}/{{ filename }}"
        dest: "{{ _tmpdir.path }}"
        mode: '0600'
      loop:
        - "{{ _filename }}"
        - "{{ _filename }}.asc"
      loop_control:
        loop_var: filename
      when: "_tmpdir is not skipped"

    - name: 'Create temporary GnuPG directory'
      ansible.builtin.file:
        path: "{{ _tmpdir.path }}/.gnupg"
        state: directory
        owner: root
        group: root
        mode: '0700'
      diff: false
      when: "_tmpdir is not skipped"

    - name: 'Get the PGP key'
      ansible.builtin.get_url:
        url: 'https://nextcloud.com/nextcloud.asc'
        dest: "{{ _tmpdir.path }}"
        mode: '0600'
      when: "_tmpdir is not skipped"

    - name: 'Import the PGP key'
      ansible.builtin.command:
        argv:
          - gpg
          - --no-default-keyring
          - --keyring
          - trustedkeys.kbx
          - --import
          - "{{ _tmpdir.path }}/nextcloud.asc"
      environment:
        GNUPGHOME: "{{ _tmpdir.path }}/.gnupg"
      register: _gpg_recv_key
      changed_when: "_gpg_recv_key is not failed and 'imported:' in _gpg_recv_key.stderr"
      when: "_tmpdir is not skipped"

    - name: 'Verify signature'
      ansible.builtin.command:
        argv:
          - gpgv
          - "{{ _tmpdir.path }}/{{ _filename }}.asc"
          - "{{ _tmpdir.path }}/{{ _filename }}"
      environment:
        GNUPGHOME: "{{ _tmpdir.path }}/.gnupg"
      changed_when: false
      when: "_tmpdir is not skipped"

    - name: 'Install Nextcloud'
      ansible.builtin.unarchive:
        dest: "{{ nextcloud_web_root }}"
        src: "{{ _tmpdir.path }}/{{ _filename }}"
        remote_src: true
        extra_opts: '--strip-components=1'
        owner: root
        group: root
        list_files: true
      register: _nextcloud_tar
      when: "_tmpdir is not skipped"

    - name: 'Make config directory writable for Nextcloud'
      ansible.builtin.file:
        path: "{{ nextcloud_web_root }}/config"
        state: directory
        owner: "{{ nextcloud_user }}"
        group: "{{ nextcloud_group }}"
        mode: '0755'

    - name: 'Enumerate web root content'
      ansible.builtin.find:
        paths: "{{ nextcloud_web_root }}"
        follow: false
        recurse: true
        hidden: true
      register: _nextcloud_files
      when: "_tmpdir is not skipped"

    - name: 'Remove old files'
      ansible.builtin.file:
        path: "{{ filename }}"
        follow: false
        state: absent
      loop: "{{ _nextcloud_files['files'] | map(attribute='path') | ansible.builtin.difference(_nextcloud_tar['files'] | map('ansible.builtin.regex_replace', '^(.*)$', nextcloud_web_root | ansible.builtin.regex_replace('/$', '') ~ '/\\1')) | list }}"
      loop_control:
        loop_var: filename
      when: "_tmpdir is not skipped and filename | ansible.builtin.regex_replace(nextcloud_web_root | ansible.builtin.regex_escape ~ '?/([^/]+)/.*', '\\\\1') not in ['apps-appstore', 'config', 'data']"
