---
- name: 'Gather OS specific variables'
  ansible.builtin.include_vars: "{{ vars_file }}"
  loop:
    - default.yml
    - "{{ ansible_facts['os_family'] | lower }}.yml"
    - "{{ ansible_facts['distribution'] | lower }}.yml"
    - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_major_version'] }}.yml"
    - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_version'] | ansible.builtin.regex_search('[0-9]+\\.[0-9]+') }}.yml"
    - "{{ ansible_facts['distribution'] | lower }}-{{ ansible_facts['distribution_version'] }}.yml"
  loop_control:
    loop_var: vars_file
  when: "(vars_file is ansible.builtin.abs and vars_file is ansible.builtin.file) or (vars_file is not ansible.builtin.abs and (role_path ~ '/vars/' ~ vars_file) is ansible.builtin.file)"
  tags:
    - always

- name: 'Ensure configuration consistency'
  ansible.builtin.set_fact:
    nextcloud_use_pkg: "{{ nextcloud_has_pkg | ansible.builtin.bool and nextcloud_use_pkg | ansible.builtin.bool }}"
    nextcloud_database_host: "{{ nextcloud_database_host.startswith('/') | ansible.builtin.ternary('localhost:', '') ~ nextcloud_database_host }}"
    nextcloud_enabled_apps: "{{ nextcloud_enabled_apps + nextcloud_ldap_backends | count | ansible.builtin.ternary(['user_ldap'], []) }}"

- name: 'Set paths to distribution package values'
  ansible.builtin.set_fact:
    nextcloud_web_root: "{{ nextcloud_pkg_web_root }}"
    nextcloud_apps_path: "{{ nextcloud_pkg_apps_path }}"
  when: "nextcloud_use_pkg | ansible.builtin.bool"

- name: 'Install Nextcloud using the package manager'
  ansible.builtin.package:
    name: "{{ [nextcloud_pkg_name] | ansible.builtin.flatten + nextcloud_enabled_apps | select('in', nextcloud_app_pkg_name) | map('ansible.builtin.extract', nextcloud_app_pkg_name) | list }}"
    state: present
  when: "nextcloud_use_pkg | ansible.builtin.bool"

- name: 'Install Nextcloud using official tarball'
  ansible.builtin.include_tasks: install_nextcloud_tarball.yml
  when: "not nextcloud_use_pkg | ansible.builtin.bool"

- name: 'Install occ wrapper script'
  ansible.builtin.template:
    dest: '/usr/local/sbin/occ'
    src: occ.j2
    owner: root
    group: root
    mode: '0755'

- name: 'Create Nextcloud runtime-writable directories'
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    owner: "{{ nextcloud_user }}"
    group: "{{ nextcloud_group }}"
    mode: '0750'
    follow: false
  loop:
    - "{{ nextcloud_data_path }}"
    - "{{ nextcloud_apps_path }}"
    - "{{ nextcloud_log_file | ansible.builtin.dirname }}"
    - "{{ nextcloud_web_root }}/core/img/filetypes"

- name: 'Symlink Nextcloud apps path'
  ansible.builtin.file:
    path: "{{ nextcloud_web_root }}/apps-appstore"
    state: link
    owner: "{{ nextcloud_user }}"
    group: "{{ nextcloud_group }}"
    src: "{{ nextcloud_apps_path }}"
    follow: false
  when: "nextcloud_apps_path | ansible.builtin.regex_replace('/+$', '') != (nextcloud_web_root | ansible.builtin.regex_replace('/+$', '')) ~ '/apps-appstore'"

- name: 'Get enabled PHP extensions'
  ansible.builtin.command:
    argv:
      - "{{ nextcloud_php_cli }}"
      - -r
      - 'foreach (get_loaded_extensions() as $ext) echo $ext . PHP_EOL;'
  environment: "{{ nextcloud_php_cli_env }}"
  changed_when: false
  check_mode: false
  register: _enabled_php_extensions

# Note: This needs to be done before running occ for the first time, since in
# the default configuration occ throws an error if the apps path is not
# writable.
- name: 'Configure Nextcloud'
  ansible.builtin.template:
    dest: "{{ nextcloud_web_root }}/config/ansible.config.php"
    src: config.php.j2
    owner: root
    group: "{{ nextcloud_group }}"
    mode: '0640'

- name: 'Get Nextcloud installation status'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-warnings
      - status
      - '--output=json'
  changed_when: false
  check_mode: false
  register: _occ_status

- name: 'Perform Nextcloud initial setup steps'
  when: "not (_occ_status.stdout | from_json)['installed']"
  block:

    - name: 'Run Nextcloud initialization (this may take a long time)'
      ansible.builtin.command:
        argv: "{{ cmd | reject('==', omit) }}"
      vars:
        cmd:
          - '/usr/local/sbin/occ'
          - maintenance:install
          - --no-interaction
          - "--database={{ nextcloud_database_type }}"
          - "--database-host={{ nextcloud_database_host }}"
          - "--database-name={{ nextcloud_database_name }}"
          - "{% if nextcloud_database_port is defined %}--database-port={{ nextcloud_database_port }}{% else %}{{ omit }}{% endif %}"
          - "--database-user={{ nextcloud_database_user }}"
          - "{% if nextcloud_database_password is defined %}--database-pass={{ nextcloud_database_password }}{% endif %}"
          - "--admin-user={{ nextcloud_admin }}"
          - "--admin-pass={{ nextcloud_admin_password | default(lookup('ansible.builtin.password', '/dev/null length=64')) }}"
          - "--data-dir={{ nextcloud_data_path }}"
      changed_when: true
      no_log: true
      notify: nextcloud_installed_or_updated

    - name: 'Disable admin user'
      ansible.builtin.command:
        argv:
          - '/usr/local/sbin/occ'
          - --no-interaction
          - user:disable
          - "{{ nextcloud_admin }}"
      changed_when: true
      when: "nextcloud_admin_password is not defined"

- name: 'Update apps'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - app:update
      - --all
  register: _app_update
  changed_when: "_app_update is not ansible.builtin.failed and 'updated' in _app_update.stdout"
  notify: nextcloud_installed_or_updated
  when: "nextcloud_enabled_apps | count > 0"

- name: 'Run Nextcloud upgrade procedures'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - upgrade
  register: _occ_upgrade
  changed_when: "_occ_upgrade is not ansible.builtin.failed and 'Nextcloud is already latest version' not in _occ_upgrade.stdout"
  notify: nextcloud_installed_or_updated

- name: 'Add missing database columns'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - db:add-missing-columns
  register: _occ_db_add_columns
  changed_when: "_occ_db_add_columns is not ansible.builtin.failed and 'Adding additional' in _occ_db_add_columns.stdout"

- name: 'Run any outstanding bigint conversions'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - db:convert-filecache-bigint
  register: _occ_db_convert_bigint
  changed_when: "_occ_db_convert_bigint is not ansible.builtin.failed and 'All tables already up to date!' not in _occ_db_convert_bigint.stdout"

- name: 'Add missing database primary keys'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - db:add-missing-primary-keys
  register: _occ_db_add_primary_keys
  changed_when: "_occ_db_add_primary_keys is not ansible.builtin.failed and 'Adding primary key' in _occ_db_add_primary_keys.stdout"

- name: 'Add missing database indices'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - db:add-missing-indices
  register: _occ_db_add_indices
  changed_when: "_occ_db_add_indices is not ansible.builtin.failed and 'Adding additional' in _occ_db_add_indices.stdout"

- name: 'Install default files for new accounts'
  ansible.builtin.copy:
    src: "{{ nextcloud_skeleton_files }}/"
    dest: "{{ nextcloud_skeleton_path }}"
    owner: root
    group: root
    directory_mode: '0755'
  when: "nextcloud_skeleton_files is defined"

- name: 'Get built-in apps'
  ansible.builtin.slurp:
    src: "{{ nextcloud_web_root }}/core/shipped.json"
  register: _shipped_apps

- name: 'Get installed apps'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - app:list
      - '--output=json'
  changed_when: false
  check_mode: false
  register: _app_list

- name: 'Parse installed apps'
  ansible.builtin.set_fact:
    _apps_to_enable: "{{ nextcloud_enabled_apps | ansible.builtin.difference((_app_list.stdout | ansible.builtin.from_json)['enabled'].keys()) }}"
    _apps_to_disable: "{{ (_app_list.stdout | ansible.builtin.from_json)['enabled'].keys() | ansible.builtin.difference(nextcloud_enabled_apps | ansible.builtin.union((_shipped_apps['content'] | ansible.builtin.b64decode | ansible.builtin.from_json)['alwaysEnabled'])) }}"

- name: 'Enable apps'
  ansible.builtin.command:
    argv: "{{ cmd + _apps_to_enable }}"
  vars:
    cmd:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - app:enable
  changed_when: true
  notify: nextcloud_installed_or_updated
  when: "_apps_to_enable | count > 0"

- name: 'Disable unused apps'
  ansible.builtin.command:
    argv: "{{ cmd + _apps_to_disable }}"
  vars:
    cmd:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - app:disable
  changed_when: true
  when: "_apps_to_disable | count > 0"

- name: 'Install Nextcloud cron job wrapper'
  ansible.builtin.template:
    dest: '/usr/local/sbin/nextcloud-cron.sh'
    src: nextcloud-cron.sh.j2
    owner: root
    group: root
    mode: '0755'

- name: 'Configure Nextcloud cron job'
  ansible.builtin.cron:
    name: 'Nextcloud cron.php'
    job: '/usr/local/sbin/nextcloud-cron.sh'
    user: "{{ nextcloud_user }}"
    state: present
    minute: '*/5'
    hour: '*'
    day: '*'
    month: '*'
    weekday: '*'
  register: _nextcloud_cronjob

- name: 'Make Nextcloud use system cron'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - background:cron
  changed_when: true
  when: "_nextcloud_cronjob is changed"

- name: 'Configure apps'
  when: "nextcloud_app_options | count > 0"
  block:

    - name: 'Get current configuration'
      ansible.builtin.command:
        argv:
          - '/usr/local/sbin/occ'
          - --no-interaction
          - config:list
          - '--output=json'
      changed_when: false
      check_mode: false
      register: _config_list

    - name: 'Parse app-specific configuration options'
      ansible.builtin.set_fact:
        _app_options: "{{ _app_options | default([]) + item.value.items() | ansible.builtin.zip_longest([], fillvalue=item.key) | map('ansible.builtin.flatten') | list }}"
      loop: "{{ nextcloud_app_options | ansible.builtin.dict2items }}"
      loop_control:
        label: "{{ item.key }}"

    - name: 'Set app-specific configuration options'
      ansible.builtin.command:
        argv:
          - '/usr/local/sbin/occ'
          - --no-interaction
          - config:app:set
          - "{{ option[2] }}"
          - "{{ option[0] }}"
          - --value
          - "{{ option[1] }}"
      changed_when: true
      loop: "{{ _app_options }}"
      loop_control:
        loop_var: option
        label: "{{ option[2] }}: {{ option[0] }} = {{ option[1] }}"
      when: "(_config_list.stdout | ansible.builtin.from_json)['apps'][option[2]][option[0]] | default() != option[1] | string"

- name: 'Get local Nextcloud groups'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - group:list
      - '--output=json'
  changed_when: false
  check_mode: false
  register: _occ_group_list

- name: 'Create initial local Nextcloud groups'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - group:add
      - "{{ group.name }}"
  changed_when: true
  loop: "{{ nextcloud_groups }}"
  loop_control:
    loop_var: group
    label: "{{ group.name }}"
  when: "group.name not in (_occ_group_list.stdout | ansible.builtin.from_json).keys()"

- name: 'Get local Nextcloud user accounts'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - user:list
      - '--output=json'
  changed_when: false
  check_mode: false
  register: _occ_user_list

- name: 'Create initial local Nextcloud user accounts'
  ansible.builtin.command:
    argv: "{{ cmd | reject('==', omit) }}"
  vars:
    cmd:
      - "/usr/local/sbin/occ"
      - --no-interaction
      - user:add
      - --password-from-env
      - "{% if user.display_name is defined %}--display-name={{ user.display_name }}{% else %}{{ omit }}{% endif %}"
      - "{{ user.name }}"
  environment:
    OC_PASS: "{{ user.password }}"
  changed_when: true
  no_log: true
  loop: "{{ nextcloud_users }}"
  loop_control:
    loop_var: user
    label: "{{ user.name }}"
  when: "user.name not in (_occ_user_list.stdout | ansible.builtin.from_json).keys()"

- name: 'Configure LDAP backends'
  when: "nextcloud_ldap_backends | count > 0"
  block:
    - name: 'Get configured LDAP back ends'
      ansible.builtin.command:
        argv:
          - '/usr/local/sbin/occ'
          - --no-interaction
          - ldap:show-config
      changed_when: false
      check_mode: false
      register: _ldap_show_config

    - name: 'Parse configured LDAP back ends'
      ansible.builtin.set_fact:
        _ldap_config_ids: "{{ _ldap_show_config.stdout_lines | map('ansible.builtin.regex_search', '\\| Configuration\\s+\\| (\\S+)\\s+\\|', '\\1') | select | map('first') | list }}"

    - name: 'Configure LDAP back ends'
      ansible.builtin.include_tasks: ldap_backend.yml
      loop: "{{ nextcloud_ldap_backends }}"
      loop_control:
        loop_var: backend
        index_var: i
        label: "{{ backend.ldapHost }}"

    - name: 'Sync LDAP users'
      ansible.builtin.command:
        argv:
          - '/usr/local/sbin/occ'
          - --no-interaction
          - user:list
      changed_when: false

- name: 'Add users to local groups'
  ansible.builtin.command:
    argv:
      - '/usr/local/sbin/occ'
      - --no-interaction
      - group:adduser
      - "{{ group.0.name }}"
      - "{{ group.1 }}"
  changed_when: true
  loop: "{{ nextcloud_groups | ansible.builtin.subelements('users') }}"
  loop_control:
    loop_var: group
    label: "{{ group.0.name }}: {{ group.1 }}"
  when: "group.1 not in (_occ_group_list.stdout | ansible.builtin.from_json)[group.0.name] | default([])"
